<h1>Update Your Account</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user, url: users_path do |f| %>

  <div class='field'>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class='field'>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <%= f.submit %>

<% end %>
