<!DOCTYPE html>
<html>
  <head>
    <title>Seatyourself</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p><%= link_to 'Home', root_path %></p>

    <% if current_user %>
      <p>
        Hello <%= current_user.email %>!
        |
        <%= link_to 'Update Account', edit_users_path %>
        |
        <%= link_to 'Logout', sessions_path, method: :delete %>
      </p>
    <% else %>
      <p>
        <%= link_to 'New User', new_users_path %>
        |
        <%= link_to 'Login', new_sessions_path %>
      </p>
    <% end %>

    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <p class="<%= key %>">
          <%= value %>
        </p>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
