<%= form_for @restaurant do |f| %>

  <%= render 'shared/form_errors', :thing => @restaurant %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <!-- <input type="file" > -->
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity, :min => 1, :max => 500 %>
  </div>

  <%= f.submit %>

<% end %>
