<!DOCTYPE html>
<html>
  <head>
    <title>Todos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,200'%>
  </head>

  <body>
    <header>
      <h1>Todos</h1>
    </header>

    <main id="todo-app">
      <%= yield %>
    </main>

    <footer>
      <small>Created in the future at <%= image_tag 'bitmaker.png', class: 'footer-wordmark' %></small>
    </footer>
  </body>
</html>
